NODE_ENV=development

APPINSIGHTS_INSTRUMENTATIONKEY=

PGDATABASE=<dbname>
PGHOST=<host>
PGPASSWORD=
PGPORT=5432
PGSSL=true
PGUSER=<username>@<host>

ADHOC_CONTAINER=

VALIDATOR_API_URL=
VALIDATOR_FUNC_KEY=